<launch>

  <!--node name="route" pkg="route_description" type="description" output="screen"> </node-->
  <include file="$(find ontologenius)/launch/ontologenius.launch">
    <arg name="intern_file" default="none"/>
    <arg name="files" default="
     $(find semantic_route_drawer)/files/adream_mall.owl
     $(find semantic_route_description)/files/place_description.owl
     $(find semantic_route_description)/files/route_cost.owl
     "/>
  </include>
  <node name="gui" pkg="ontologenius" type="ontoloGUI" output="screen"> </node>


</launch>
